@font-face {
  font-family: 'Interstate';
  font-weight: 500;
  src: url("assets/Fonts/interstate-regular.TTF"); // was "assets/Fonts/interstate-regular.ttf");
}
@font-face {
  font-family: 'Interstate';
  font-weight: 700;
  src: url("assets/Fonts/interstate-boldcompressed.OTF"); // was "assets/Fonts/interstate-boldcompressed.otf"
}
@font-face {
  font-family: 'Fresh Marker';
  src: url('assets/Fonts/freshmarker-webfont.ttf') format('ttf'),
       url('assets/Fonts/freshmarker-webfont.woff2') format('woff2'),
       url('assets/Fonts/freshmarker-webfont.woff') format('woff'); // was "assets/Fonts/freshmarker.ttf"
}

@import url('https://fonts.googleapis.com/css?family=Overpass:400,700');


* {
  box-sizing: border-box;
  font-family: "Interstate";
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}
html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
html, input {
  font-family:
          "HelveticaNeue-Light",
          "Helvetica Neue Light",
          "Helvetica Neue",
          Helvetica,
          Arial,
          "Lucida Grande",
          sans-serif;
}
ul {
  list-style: none;
  word-wrap: break-word;
  padding:0;
}

canvas{
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -5;
}

.colors {
  position: fixed;
}
.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}
.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }


// old scss to be cleaned up
#template{
  margin:0;
  position:absolute;
  width:100%;
  height:100%;
  z-index: 100;
  display:none;

  img{
    max-width: 100%;
    max-height: 100%;
    opacity: 0.5;
  }
}
#fpsLabel, #list-top {
  position: fixed;
  right: 20px;
  top: 20px;
  color: #999;
  cursor: default;
}
#attractLabel {
  position: absolute;
  left:0;
  right:0;
  top: 0;
  bottom:0;
  width: 100%;
  max-width: 800px;
  height: 500px;
  overflow: visible;
  font-size: 64px;
  margin: auto;
  padding:50px;
  border-radius:3px;
  text-align: center;
  /*background:rgba(0,0,0, 0.2);*/
  color: #999;
  cursor: default;
}
#list-top, #list-bot {
  left: 20px;
  right: initial;
}
#fpsLabel-bot, #list-bot {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #999;
  cursor: default;
}
#scoreLabel {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #999;
  cursor: default;
}
#titleTopLeft{
  position: absolute;
  left:0px;
  top: 0px;
  width: 40%;
  height: 100%;
  margin: auto;
  padding:0px;
  border-radius:3px;
  cursor: default;
  overflow: visible;
  z-index: 500;
}
#titleTopLeft img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
  position: relative;
}
#titleTopLeft img#titleLights{
  width: 200%;
  height: 200%;
  object-fit: contain;
  object-position: top left;
  position: absolute;
  top:-20px;
  left:-100px;
}
#permanentGameBranding{
  header{
    height: 200px;
    position: absolute;
    top: 0;
    width: 100%;
    /*background: rgba(1,1,1,.5);*/
  }

  footer{
    height: 170px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: url("assets/UI/D1/BtmBarGround(clean).png");
    background-size: auto 200px;
    background-position: top;
    background-repeat: repeat-x;
  }
}
#inner{
  max-width: 1920px;
  width: 100%;
  position: relative;

  margin: 0 auto;

  height:100%;
  top:0;
  position:absolute;
  background: rgba(0,0,0,.4);

  #container{
    max-height: 800px;
    top:50%;
    transform: translateY(-50%);
    position: relative;
    margin: 0 auto;
    max-width:100%;
    width: 1080px;
    padding:0;

    #comboBadge{
      //background: url("assets/UI/D3/ComboFlareGround.png") no-repeat center;
      width:350px;
      height:350px;
      position: absolute;
      top: -300px;
      right:0px;
      background-size: contain;
      transform: rotate(6deg);
      padding: 40px;

      img {
        width: 100%;
        transform-origin: center;
        transform:scale(0,0);
      }
      h2{
        margin-bottom: 0;
        line-height: 1em;
        top: 50%;
        transform: translateY(50%);
        &#comboNum {
          font-size: 180px;
          color: yellow;
          text-align: center;
          font-weight: bold;
          position:absolute;
          width: 96%;
          max-width: 100%;
          top:-20%;
          left: 0;
          font-family:"XScale";
        }
        &#streak{
          font-size: 60px;
          color: yellow;
          font-style: italic;
          text-align: center;
          font-weight: bold;
          text-transform: uppercase;
          margin-top: 18px;
          position:absolute;
          top:40%;
          left:0;
          width: 90%;
          max-width: 100%;
        }
      }
    }

    #results {
      display: block;
      //border: 1px solid red;
      z-index: 100;
      padding: 0 50px;
      font-size: 80px;
      color: yellow;
    /*
          #leftLight{
            background-image: url("assets/UI/D4/LightsOverlay.png");
          }

          #rightLight{
            background-image: url("assets/UI/D4/LightsOverlay.png");
          }
    */
      #playerScores .score {
        height: 220px;
        //border: 1px solid yellow;

        .scoreContainer {
          width: auto;
          margin-top: 50px;

          .scoreNum, .playerName {
            width:auto;
            font-size: 140px;
            float:left;
            text-align: right;
            line-height: 160px;
            padding-right: 10px;
          }

          .scoreNum{
            font-weight: bold;
          }
          .playerName {
            text-align: left;
            font-style: italic;
            line-height: 70px;
            padding-right: 0;

            .firstName {
              font-size: 50px;
              color: white;
            }
            .lastName {
              font-size: 80px;
              color: cyan;
              padding-left: 20px;
              font-weight: bold;
            }
          }

        }

        // specific styles for each score
        &#topScore {
          background: url('assets/UI/D4/TopScoreGround.png') no-repeat;
          background-size: contain;
          background-position: left center;

          &:after {
            display:block;
            content: '';
            clear:both;
          }

          .scoreContainer {
            float:left;
            padding-left:100px;
            text-align:left;
          }
        }
        &#yourScore {
          background: url('assets/UI/D4/YourScoreGround.png') no-repeat;
          background-size: contain;
          background-position: right center;

          &:after {
            display:block;
            content: '';
            clear:both;
          }

          .scoreContainer {
            float:right;
            padding-right: 100px;
            text-align:right;
          }
        }
      }

      #teamScores{
        // width: 75%;
        width: auto;
        margin-top: 60px;
        height: 250px;
        padding: 0 50px;
        text-align: center;

        &:after {
          display:block;
          content: '';
          clear: both;
        }

        h2 {
          text-transform: uppercase;
          text-align: center;
          font-weight: bold;
          font-size: 60px;
          color: white;
          text-shadow: 0px 0px 10px cyan;
          font-family:"Xscale";
          margin-bottom: -10px;
        }

        .score {
          // width: 33.3%;
          width: auto;
          // float: left;
          float:none;
          text-align: center;
          //margin: 0;
          display: inline-block;

          .scoreNum {
            background: url('assets/UI/D4/TeamScoreGround.png') no-repeat top center;
            background-size: contain;
            font-size: 80px;
            padding:30px 20px 50px;
            font-weight: bold;
          }
          .teamName {
            font-size: 40px;
            transform: rotate(-12deg);
            margin-top: -10px;
            font-weight: bold;
            font-style: italic;
          }
        }
      }
    }
  }
}
#preFooter{
  position: absolute;
  bottom: 250px;
  right:0;
  width:100%;
  #playNow{
    background: url("assets/UI/D1/PlayNowGradient(crop).png") no-repeat right;
    width:50%;
    margin-right: 0;
    margin-left: auto;
    padding:30px 0;

    h2{
      font-size: 70px;
      color: yellow;
      font-style: italic;
      text-align: right;
      padding-right: 40px;
      margin-bottom:0;

      span.emphasize{
        font-weight: bold;
        color: white;
      }
    }
  }
}
footer{


  #timeLabel {
    position: absolute;
    left:0;
    right:0;
    top: 20px;
    text-align:center;

    background: red;
    border: 2px solid #333;
    border-radius: 3px;

    color: #fff;
    cursor: default;
  }

  #footerLeft{
    //40 attract, waiting = 22
    // width: 40%;
    //700 attract, 200 waiting;
    // max-width: 700px;
    height: 100%;
    /*background-color: cyan;*/
    background-color: rgba(33, 134, 191, .5);
    display: inline-block;
    position: relative;
    float:left;

    padding-top: 40px;
    padding-bottom: 40px;
    .waitingLeft {

      width: 50%;
      float: none;

      h2{
        font-size: 90px;
        text-transform: uppercase;
        text-align: center;
        color: yellow;
        position: relative;
        margin-bottom: 0px;
        font-weight: normal;
        font-weight: bold;
        bottom: 10px;
        left: 0%;
      }

    }

    .gameplayLeft {

      width: 100%;
      float: none;

      h2{
        font-size: 80px;
        text-transform: uppercase;
        text-align: center;
        color: yellow;
        position: relative;
        margin-bottom: 2px;
        font-weight: normal;
        font-weight: bold;
        bottom: 30px;
        left: 0;
        &.textScoreLabel{
          font-size: 50px;
          bottom: 0;
          line-height: 1.1em;
          font-weight: bold;
          color:darkblue;
          background-color: white;
          font-family: XScale;
          position: absolute;
          width: 100%;

        }
      }

    }

    .waitingRight{
      width: 225%;
      float: left;
      h2{
        left: 9%;
        margin-top: -4px;
        font-style: italic;
        line-height: 50px;
        font-size: 42px;
        text-transform: uppercase;
        text-align: left;
        color: white;
        position: relative;
        font-weight: normal;
        font-weight: bold;

      }
    }

    .gameplayRight{
      width: 225%;
      float: left;
      h2{
        left: 9%;
        font-style: italic;
        line-height: 50px;
        text-transform: uppercase;
        text-align: left;
        position: relative;

        &.textGameplayFirst{
          font-weight: normal;
          color: white;
          margin-top: -16px;
          font-size: 40px;
        }
        &.textGameplayLast{
          color: cyan;
          font-weight: bold;
          font-size: 56px;
          margin-top: 16px;
          margin-left:10px;

        }
      }
    }

    .attractLeft, .attractRight {
      //display:none;
    }

    .waitingLeft, .waitingRight {
      //display:none;
    }

    .gameplayLeft, .gameplayRight {
      display:none;
    }

    .attractLeft{
      // width: 30%;
      width:auto;
      padding:0 60px;
      float: left;
      h2{
        // margin-left: 10px;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        color: cyan;
        position: relative;
        margin-bottom: 2px;
        font-weight: normal;
        &.stepNum{
          font-size: 52px;
          margin-bottom: 0;
          font-weight: bold;
        }
      }
    }

    .attractRight{
      // width: 70%;
      width: auto;
      padding-right:60px;
      float: left;
      h2{
        margin-left: -5px;
        margin-top: 2px;
        font-style: italic;
        line-height: 1em;
        font-size: 38px;
        text-transform: uppercase;
        text-align: left;
        color: yellow;
        position: relative;
        font-weight: normal;

        span {

          &#courtCode,&#textCode,&#textNum{
            font-weight: bold;
            color: white;
          }
        }
      }
    }
  }

  #footerCenter{
    @extend #footerLeft;

    background: none;


  }
  //
  //#footerCenter h2{
  //  position: absolute;
  //}
  //
  //#footerCenter h2#attractStep2TopLeft{
  //  font-size: 30px;
  //  text-transform: uppercase;
  //  top: 20%;
  //  text-align: center;
  //  left: 10%;
  //  color: cyan;
  //}
  //
  //#footerCenter h2#attractStep2BottomLeft{
  //  font-size: 100px;
  //  top: 28%;
  //  text-align: center;
  //  left: 12%;
  //  color: cyan;
  //}
  //
  //#footerCenter h2#attractStep2Right{
  //  font-size: 50px;
  //  text-transform: uppercase;
  //  top: 15%;
  //  text-align: left;
  //  left: 30%;
  //  color: yellow;
  //}

  #footerRight{
    height: 100%;
    margin: auto;
    padding:0px;
    border-radius:3px;
    cursor: default;
    overflow: visible;
    display: inline-block;
    position: absolute;
    bottom:0px;
    right:0px;
    z-index: 1;
    float:right;
    //width: 20%;
    // width: 170px;
    width: auto;
    text-align: center;
    //max-width: 225px;
  }

  #footerRight img#sponsorLogo{
    // width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right;
    position: relative;
    bottom:0px;
    right:0;
    z-index: 20;
    padding:20px 20px;
  }

  #footerRight img#sponsorGround{
    width: 140%;
    height: 125%;
    z-index: 5;
    position: absolute;
    bottom: 0;
    right: 0;

  }
}
/* Pages */
.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
}
.page {
  height: 100%;
  position: absolute;
  width: 100%;
}
/* Login & Roomcange Pages*/
.login.page, .passcode.page {
  background-color: #000;
}
.login.page .form, .passcode.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
  max-width: 100%;
}
.login.page .form .usernameInput, .passcode.page .form .passcodeInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  max-width: 100%;
}
.login.page .title, .passcode.page .title {
  font-size: 200%;
}
.login.page .usernameInput, .passcode.page .passcodeInput {
  font-size: 200%;
  letter-spacing: 3px;
}
.login.page .title, .passcode.page .title, .login.page .usernameInput, .passcode.page .passcodeInput {
  color: #fff;
  font-weight: 100;
}


//reset
#scoreLabel, #attractLabel, #fpsLabel, #fpsLabel-bot, #permanentGameBranding {
  display:none;
}



// new scss

$yellow1: #f8d133;
$green1: #a5ce37;
$blue1: #0095b6;
$pink1: #f43886;
$orange1: #faab18;

$yellow2: rgb(239,173,20);
$green2: rgb(56, 171, 37);
$blue2: rgb(0, 107, 138);
$pink2: rgb(158, 2, 91);
$orange2: rgb(241, 99, 34);
@mixin fillbackground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#screen-overlay {
  background:white;
  padding:60px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999 !important;

  img {
    width:100%;
    height:100%;
    object-fit: contain;
  }
}
#screen-wrapper {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.attract-state, .waiting-state, .gameplay-state, .results-state {
  visibility: hidden;
  display:none;

  .text-container {
    padding-bottom:20px;
  }
}

.gameplay-state .text-container {
  padding-bottom: 160px;
}
.results-state .text-container {
  padding-bottom:30px;
}



#infobar {
  width: 29%;
  // padding: 0 50px;
  z-index: 200;
  display: inline-block;
  position: relative;
  height: 100%;
  float: left;

  &:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(90deg, #dbdbdb 15%, #fff 40%);
    left: 0px;
    z-index: -1;
    opacity: 1;
  }

  #infobar-header {
    text-align: center;
    margin:0 50px;
  }

  .general-text {
    font-size:48px;
    line-height:1;
    font-weight:500;
    color: #333;
    text-transform: uppercase;

    &.small-height {
      line-height: 0.55;
      margin-bottom:10px;
    }
  }
  .emphasis-text {
    @extend .general-text;
    font-size: 120px;
    line-height:1.05;
    font-weight: 700;
    color: #010101;
  }

  #info-container {
    // margin-top:80px;
    #texting-instructions, #gamecode-instructions {
      text-align: center;
    }

    #infobar-content {
      position: absolute;
      width: 100%;
      // padding: 0 50px;
      bottom: 250px;

      hr {
        height: 6px;
        background: #333;
        margin: 10px 50px 25px;
      }

      .waiting-state {
        margin-top:100px;

        .general-text {
          font-size: 80px;
          text-align: center;
        }
      }

      .results-state {

        #winner-label {
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 40px;
        }
      }

      .firstname,.lastname {
        font-size: 120px;
        font-family: 'Fresh Marker';
        transform: rotate(-10deg);
        line-height:1.1;
        text-align:center;
        text-transform: uppercase;
        color: #000;
      }
    }

    #ribbon {

      #ribbon-container {
        position: absolute;
        width: 115%;
        z-index: 500;
        bottom: 40px;

        .dropshadow-container {
          filter: drop-shadow(-25px 10px 5px rgba(0,0,0,0.5));
        }

        #score-label {
          padding: 0 20px 20px;
        }

        #ribbon-background {
          background: linear-gradient(-90deg, $green1, $green2);

          &:before,
          &:after {
            content: '';
            @include fillbackground;
            animation: opacity 6s infinite;
            opacity: 0;
            }
          &:before {
            background: linear-gradient(-90deg,
              $orange2, $orange1);
            animation-delay: 2s;
          }
          &:after {
            background: linear-gradient(-90deg,
              $pink1, $pink2);
            animation-delay: 4s;
          }
        	/* background-size: 400% 400%; */
        	/* -webkit-animation: Gradient 8s ease infinite;
        	-moz-animation: Gradient 8s ease infinite;
        	animation: Gradient 8s ease infinite; */

          padding-right: 13%; // was 15% but it bled over
          clip-path: polygon(0% 0, 100% 0%, 89.5% 100%, 0% 100%);
          -webkit-clip-path: polygon(0% 0, 100% 0%, 89.5% 100%, 0% 100%);

          height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;

          .attract-state, .waiting-state, .gameplay-state, .results-state {
            z-index:500;
          }

          #waiting-timer {
            .fa-stopwatch {
              position: absolute;
              left: 120px;
              font-size: .5em;
              top: 40px;
            }
          }
          .ribbon-text {
            text-align: center;
            font-size: 183px;
            color: white;

            line-height: 0 !important;
            padding-top:22px;

            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 500;
          }

          .results-state {
            width:100%;

            #winner-stats {
              display: flex;
              flex-direction: column;
              width: 100%;

              .stat-text {
                display: flex;
                justify-content: space-between;
                font-size: 50px;
                padding: 0 30px;
                font-weight: normal;
                line-height: 1.4 !important;
                color: white;
                text-transform: uppercase;
              }

              .stat-number {
                font-weight: bold;
                font-size: 150%;
                line-height: 1;
                margin-top: -10px;
              }
            }
          }
        }
      }
    }
  }
}



//lights
// #left-lights .small-light, #right-lights .large-light, .light-direction-down {
//     // transform: translate(-512px, 1600px);
//     transform: translateY(-1000px);
// }
// #left-lights .large-light, #right-lights .small-light, .light-direction-up {
//     // transform: translate(512px, -1600px);
// }
#animation-container {

  .overlay-background {
    content: '';
    display: none;
    background: rgba(0,0,0,.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:1;
  }

  #lighting-container {
    display:flex;
    flex-direction: row;
    width: 100%;
    height:100%;
    transform-origin: top left;
    position:absolute;
    overflow: hidden;

    #left-lights, #right-lights {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    #left-lights {
      transform-origin: top left;
      transform: rotate(18deg) translateY(-40%) scaleY(1.35);

      .small-light {
        left:320px;
      }
    }
    #right-lights {
      transform-origin: bottom right;
      transform: rotate(18deg) translateY(40%) scaleY(1.35);

      .small-light {
        left: 1000px;
      }
      .large-light {
        left: -700px;
      }
    }

    .large-rectangle, .small-rectangle, .light {
        background: linear-gradient($green1, $green2);
        position:relative;
        opacity:.5;

        &:before,
        &:after {
          content: '';
          @include fillbackground;
          animation: opacity 6s infinite;
          opacity: 0;
          }
        &:before {
          background: linear-gradient($orange2, $orange1);
          animation-delay: 3s;
        }
        &:after {
          background: linear-gradient($pink1, $pink2);
          animation-delay: 3s;
        }
    }

    .large-rectangle {
      height: 1000px;
      width: 288px;
    }
    .small-rectangle {
      height: 1000px;
      width: 35px;
    }


    .light-container {
      position: absolute;
      z-index: 100;
      // transform:rotate(-72deg);

      &.direction-up {
        transform: rotate(180deg);
        top: 1080px;
        left: 50%;

        .small-light {
          transform: translateX(-35px);
        }
      }


      .large-light, .small-light {
        position:absolute;
        top: -1000px;
      }
  }
}



  //
  // #right-lights .large-rectangle, #left-lights .small-rectangle {
  //   background: linear-gradient(90deg, $green1, $green2);
  //
  //   &:before,
  //   &:after {
  //     content: '';
  //     @include fillbackground;
  //     animation: opacity 6s infinite;
  //     opacity: 0;
  //     }
  //   &:before {
  //     background: linear-gradient(90deg,
  //       $orange2, $orange1);
  //     animation-delay: 2s;
  //   }
  //   &:after {
  //     background: linear-gradient(90deg,
  //       $pink1, $pink2);
  //     animation-delay: 4s;
  //   }
  // }

  // #left-lights {
  //   left: 0;
  //   top: 0;
  //   bottom: 0;
  //   height: 100%;
  //   width: 300px;
  //   position: absolute;
  //   z-index:1;
  //
  //   .large-rectangle {
  //       transform: rotate(-72deg) translateY(-763px);
  //   }
  //   .small-rectangle {
  //       transform: rotate(-72deg) translateY(-384px) translateX(-580px);
  //   }
  // }
  // #right-lights {
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   height: 100%;
  //   width: 300px;
  //   position: absolute;
  //   z-index:1;
  //
  //   .large-rectangle {
  //       transform: rotate(-72deg) translateY(-292px) translateX(-400px);
  //   }
  //   .small-rectangle {
  //       transform: rotate(-72deg) translateY(-199px) translateX(-220px);
  //   }
  // }
}




#game-container {
  width:71%;
  position: relative;
  display: inline-block;
  height: 100%;
  float: right;
  clear: none;

  #game-overlay {
    position: absolute;
    height: 100%;
    width: 100%;

    #score-bonus {
      position: absolute;
      color: white;
      right: 80px;
      top: 400px;
      font-size: 115px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      line-height:.8;

      #bonus-amount {
        font-weight: normal;
        font-size: 140px;

        #bonus-num {
          font-size: 180px;
        }
      }
    }

    .info-layer {

      .results-state {
        margin-top: 200px;

        * {
          z-index: 100 !important;
        }
      }
    }

    .flavortext {
      color: white;
      font-family: 'Fresh Marker' !important;
      font-size: 140px;
      text-align: center;
      text-transform: uppercase;
      line-height:140px;
      z-index: 100;

      transform: rotate(-14deg);
    }
    #player-stats {
      @extend #winner-stats;
      right: 40px;
      width: 628px;
      position: absolute;
      bottom: 300px;

      .stat-text {
        display: flex;
        justify-content: space-between;
        font-size: 60px !important;
        padding: 0 30px;
        font-weight: normal;
        line-height: 1.3 !important;
        color: white;
        text-transform:uppercase;
        padding-right:0;

        .stat-label {
          padding-top:12px;
        }
        .stat-number {
          font-weight: bold;
          font-size: 150%;
          line-height: 1;
          // margin-top: -10px;
          width:120px;
          text-align:center;
        }
      }

    }
    #results-flavortext {
      font-size: 170px;
      z-index: 500;
      position:relative;
    }
    #gameplay-flavortext {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      z-index: 500;

      * {
        font-family: inherit;
        text-transform: uppercase;
        line-height: 1;
      }
      .top {
        transform: translate(-100px, -15px);
      }
      .bottom {
        transform: translate(80px, -5px);
      }
    }

    #sponsorArea {
      position: absolute;
      bottom: 40px;
      right: 0;
      height: 200px;
      width: 255px;
      filter: drop-shadow(-25px 10px 5px rgba(0,0,0,0.5));
      z-index:500;

      #sponsorGround {
        height: 100%;
        width: 100%;
        background: white;
        clip-path: polygon(26% 0%, 100% 0%,100% 100%, 0% 100%);
        -webkit-clip-path: polygon(26% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
      #sponsorLogo {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        padding: 23px 20px;
      }
    }
  }

}








/* .gamecode-text {
} */
/*
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 50% 50%
	}
	100% {
		background-position: 100% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 50% 50%
	}
	100% {
		background-position: 100% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 50% 50%
	}
	100% {
		background-position: 100% 50%
	}
} */






$shadow: 0 0 20px rgba(0,0,0,.7) inset;
$bg: #121212;

// BODY {
//   background: $bg;
//   font-style: 10px;
//   }
// // .wrapper {
// //   @include common;
// //   height: 300px;
// //   margin: auto;
// //   text-align: center;
// //   }

// .box {
//   position: relative;
//   width: 300px;
//   height: 300px;
//   margin: 0 auto;
//   border-radius: 50px;
//   background: linear-gradient(90deg,crimson, orangered, gold);
//   &:before,
//   &:after {
//     content: '';
//     @include common;
//     box-shadow: $shadow;
//     animation: opacity 6s infinite;
//     opacity: 0;
//     }
//   &:before {
//     background: linear-gradient(90deg,
//       yellow, yellowgreen, steelblue);
//     animation-delay: 2s;
//   }
//   &:after {
//     background: linear-gradient(90deg,
//       skyblue, violet, purple);
//     animation-delay: 4s;
//   }
// }

@keyframes opacity {
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}







//resizeable stuff
.very-specific-design {
  width: 1920px;
  height: 1080px;
  // padding: 50px;
  text-align: center;
  // background: white;
  position: relative;
  left: 50%;
  top: 50%;
  // transform: translate(-50%, -50%);
  transform-origin: top left;
}

.scaleable-wrapper {
  // padding: 20px;
  resize: both;
  position: relative;
  // background: #666;
  height: 1080px; //was 400px;
}

.ui-resizable-se {
  width: 10px;
  height: 10px;
  background: orange;
  position: absolute;
  bottom: 0;
  right: 0;
}
