@font-face {
  font-family: 'Interstate';
  font-weight: 500;
  src: url("babylon/assets/Fonts/interstate-regular.TTF"); // was "assets/Fonts/interstate-regular.ttf");
}
@font-face {
  font-family: 'Interstate';
  font-weight: 700;
  src: url("babylon/assets/Fonts/interstate-boldcompressed.OTF"); // was "assets/Fonts/interstate-boldcompressed.otf"
}
@font-face {
  font-family: 'Fresh Marker';
  src: url('babylon/assets/Fonts/freshmarker-webfont.ttf') format('ttf'),
       url('babylon/assets/Fonts/freshmarker-webfont.woff2') format('woff2'),
       url('babylon/assets/Fonts/freshmarker-webfont.woff') format('woff'); // was "assets/Fonts/freshmarker.ttf"
}


.colors {
  position: fixed;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }


* {
  /*pointer-events: none;*/
  box-sizing: border-box;
  font-family: "Interstate";
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  position:fixed;
  width:100%;
  height:100%;
  text-transform: uppercase !important;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "Interstate",
    sans-serif;
}

ul {
  list-style: none;
  word-wrap: break-word;
  padding:0;
}

canvas{
  width:100%;
  height:100%;
  max-width: 100%;
  max-height: 100%;
  z-index:200;
  pointer-events: initial;
}

/* Pages */

.pages, #gameover {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
    position: absolute;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
  /*background-image: url("/babylon/assets/UI/Mobile/MobileGround.png");*/

  background:none;
}

#background {
  pointer-events: none !important;

  img{
    position:absolute;
    width:100%;
    z-index:-10;
    object-fit: cover;
    height:calc(100% - 80px);
    bottom: 80px;
  }
}
/* Login & Roomcange Pages*/

.login.page, .passcode.page {

}


.login.page .form, .passcode.page .form , .player.page .form, .gameplay.page .form, .gameover.page .form{
  // height: 100px;
  /* margin-top: -100px; */
  transform: translateY(-50%);
  position: absolute;

  text-align: center;
  top: 50%; // was 40%
  width: 100%;
  max-width: 100%;
}


//
// .login.page .usernameInput, .passcode.page .passcodeInput {
//   font-size: 200%;
//   letter-spacing: 3px;
//   color:white;
//   font-weight: bold;
//   text-shadow: 1px 4px 2px rgba(0,0,0,.2);
// }
//
// .login.page .title, .passcode.page .title, .login.page .usernameInput, .passcode.page .passcodeInput {
//   // color: #fff;
//   color: #ffd502; /*yellow*/
//   text-shadow: 1px 4px 2px rgba(0,0,0,.2);
// }

// .passcode.page .passcodeInput{
//   text-shadow: 1px 4px 2px rgba(0,0,0,.2);
//   color: white;
//   font-weight: bold;
//   font-size: 400%;
//   background:none;
//   border:none;
//   text-align: center;
//   transform: scale(1, 2);
//   -webkit-transform: scale(1, 1.5); /* Safari and Chrome */
//   -moz-transform: scale(1, 1.5); /* Firefox */
//   -ms-transform: scale(1, 1.5); /* IE 9+ */
//   -o-transform: scale(1, 1.5);
// }

.passcode.page img{
  width:90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  max-width:100%;
}
.gameover.page .form .dash{
  width: 90%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  display:block;
  float:none;
  max-width:100%;
}

#footerLogo{
  text-align: center;
  pointer-events: none;

  #brought-by {
    position:absolute;
    bottom: 0;
    z-index: -10;
    left:0;
    right:0;
    width: 100%;
    max-width:100%;
  }

  img {
    max-width: 100%;
    padding: 0;
    width: 100%;
    height: 80px;
    object-fit: cover;
    object-position: bottom right;

    &.gameLogo {
      position:absolute;
      top:10px;
      left:20px;
      max-width: 150px;
      width:150px;
      height:80px;
      object-fit: contain;
      object-position: top left;
    }
  }
}



#headerInstructions{
  text-align: center;
  position: absolute;
  bottom: 80px; //change this when animating
  z-index: -10;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  /* text-shadow: 1px 4px 2px rgba(0, 0, 0, 0.2); */
  justify-content: flex-end;
  align-items: center;

  h2{
    color:white;
    font-weight:bold;
    font-family:'Interstate';
    margin-bottom:0;
  }

  img#triangle {
    height:40px;
    width: 40px;
    margin-bottom:10px;
  }
}


.player.page {
  .form {
    .firstName {
      color:white;
      font-size:40px;
      font-style: italic;

      text-shadow:  1px 4px 2px rgba(0,0,0,.2);
    }
    .lastName{
      color: #4cc2eb;
      font-size:60px;
      font-weight: bold;
      font-style: italic;

      text-shadow:  1px 4px 2px rgba(0,0,0,.2);
    }
    img{
      width:50%;
      margin-top:0;
      margin-bottom:20px;
      max-width: 100%;
    }
    .teamColor{
      color:red;
      font-style:italic;
      font-size:70px;
      transform: translateX(-10px) rotate(-12deg);
      text-shadow:  1px 4px 2px rgba(0,0,0,.2);
      font-weight: bold;
    }
    .teamLabel{
      font-family: 'XScale';
      color:white;
      font-weight: bold;
      font-style: normal;
      font-size:60px;
      margin-top: 0;
      // letter-spacing: 10px;
      text-shadow:  1px 4px 2px rgba(0,0,0,.2);
      line-height:0.7;
    }
  }
}

#refreshLogo img{
  position:absolute;
  right:20px;
  top:10px;
  height:100px;
  transform-origin: center;
  max-width:100%;
  pointer-events: initial;

    filter: brightness(0);
    top: 20px;
    right: 20px;
}

.gameplay.page .form {
  top:8%;

  .instructions{
    color:#ffd502;
    margin-top: -20px;
    font-size: 40px;
  }
}

.gameover.page .form {
  .thank, .you{
    color:white;
    font-size: 80px;
    font-weight:bold;
    text-shadow: 1px 4px 2px rgba(0,0,0,.2);
  }
  .dash{
    width: 90%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    display:block;
    float:none;
    max-width:100%;
  }
  .button{
    width: 70%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display:block;
    float:none;
  }
}

//Initialize Pages
.passcode.page{
  display: block;
}
.gameplay.page{
  z-index: -100;
}
.player, .gameplay, .gameover {
  &.page{
    display: none;
  }
}



.gameplay-state {
  display:none;
}



$yellow1: #f8d133;
$green1: #a5ce37;
$blue1: #0095b6;
$pink1: #f43886;
$orange1: #faab18;

$yellow2: rgb(239,173,20);
$green2: rgb(56, 171, 37);
$blue2: rgb(0, 107, 138);
$pink2: rgb(158, 2, 91);
$orange2: rgb(241, 99, 34);

@mixin fillbackground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.passcode.page, .input-state {;
  .form {
    top: 50%;
    .title {
      font-size: 200%;
      margin-bottom:30px;
      color: #3A3A3A;
    }
    .passcodeInput{
      background-color: transparent;
      border: none;
      pointer-events: initial;
      opacity:1;

      &.blinking {
        animation: pulse .8s infinite;
      }

      &:focus {
        outline: none;
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
         animation-play-state: paused;
         opacity:1 !important;
         animation: alwayson 1s infinite;
      }

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white !important;
        // font-family:serif !important;
        font-weight: normal !important;
        line-height: normal !important;
        opacity: 1; /* Firefox */
      }
      &:placeholder-shown {
        // font-size:300%;
        font-weight: normal !important;
        transform: scale(.2, 1) ;
        line-height: normal !important;
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white !important;
        font-weight: normal !important;
        line-height: normal !important;
      }
      &::-webkit-input-placeholder {
        color: white !important;
        line-height: normal !important;
      }
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: white !important;
        font-weight: normal !important;
        line-height: normal !important;
      }
    }
  }
}

.player.page {
  .form {
    .general-text {
      font-size:200%;
      margin-bottom:30px;
      line-height:1;
      font-weight:500;
      color: #333;
      text-transform: uppercase;
    }
    .firstName, .lastName {
      font-family: 'Fresh Marker' !important;
      color: black;
      font-size: 70px;
      transform: rotate(-10deg) translate(-10px,0px);
    }
  }
}

#ribbon {

  #ribbon-container {
    width: 95%;
    z-index: 999;

    .dropshadow-container {
      filter: drop-shadow(-25px 10px 5px rgba(0,0,0,0.5));
    }

    .ribbon-label {
      font-size: 30px;
      padding: 0 10px 5px;
    }

    #ribbon-background {
      background: linear-gradient(-90deg, $green1, $green2);
      /* background-size: 400% 400%; */
      /* -webkit-animation: Gradient 8s ease infinite;
      -moz-animation: Gradient 8s ease infinite;
      animation: Gradient 8s ease infinite; */

      // padding-right: 13%; // was 15% but it bled over
      clip-path: polygon(0% 0, 100% 0%, 89.5% 100%, 0% 100%);
      -webkit-clip-path: polygon(0% 0, 100% 0%, 89.5% 100%, 0% 100%);

      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before,
      &:after {
        // content: '';
        @include fillbackground;
        animation: opacity 6s infinite;
        -webkit-animation: opacity 6s infinite;
        -moz-animation: opacity 6s infinite;
        opacity: 0;
        }
      &:before {
        background: linear-gradient(-90deg, $orange2, $orange1);
        animation-delay: 2s;
      }
      &:after {
        background: linear-gradient(-90deg, $pink1, $pink2);
        animation-delay: 4s;
      }

      .ribbon-text {
        text-align: center;
        font-size: 400%; //was 140px;
        color: white;
        font-weight:bold;

        font-family: 'Interstate';

        line-height: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        // text-shadow: 1px 4px 2px rgba(0,0,0,.2);
        // color: white;
        // font-weight: bold;
        // font-size: 400%;
        // background:none;
        // border:none;
        // text-align: center;
        // transform: scale(1, 2);
        // -webkit-transform: scale(1, 1.5); /* Safari and Chrome */
        // -moz-transform: scale(1, 1.5); /* Firefox */
        // -ms-transform: scale(1, 1.5); /* IE 9+ */
        // -o-transform: scale(1, 1.5);
      }
    }
  }
}






// //resizeable stuff
// .very-specific-design {
//   width: 1125px;
//   height: 2436px;
//   // padding: 50px;
//   text-align: center;
//   // background: white;
//   position: relative;
//   left: 50%;
//   top: 50%;
//   // transform: translate(-50%, -50%);
//   transform-origin: top left;
// }
//
// .scaleable-wrapper {
//   // padding: 20px;
//   resize: both;
//   position: relative;
//   // background: #666;
//   width: 1125px; //was 400px;
// }
//
// .ui-resizable-se {
//   width: 10px;
//   height: 10px;
//   background: orange;
//   position: absolute;
//   bottom: 0;
//   right: 0;
// }

.passcode {
  .title, .button-container {
    width:95%;
  }
}

#player-wrapper {
  max-width: 800px;
  height:100%;
  margin:0 auto;
  position:relative;
}
.errorMessage {
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  height:15px;
  width:95%;
  font-size: 16px;
}
#submit-gamecode {
  text-transform: uppercase;
  background: #111111;
  color: white;
  font-size: 160%;
  border-radius: 5px;
  border: none;
  padding: 10px 30px;
  // margin-top:35px;
  cursor: pointer;

  &:hover {
    background: #3a3a3a;
  }
}


.background-gradient {
  background: linear-gradient(-90deg, $green1, $green2);
  position:absolute;
  width:100%;
  height:100%;
  z-index: -15;

  &:before,
  &:after {
    content: '';
    @include fillbackground;
    animation: opacity 6s infinite;
    -webkit-animation: opacity 6s infinite;
    -moz-animation: opacity 6s infinite;
    opacity: 0;
    }
  &:before {
    background: linear-gradient(-90deg, $orange2, $orange1);
    animation-delay: 2s;
  }
  &:after {
    background: linear-gradient(-90deg, $pink1, $pink2);
    animation-delay: 4s;
  }
}


@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes alwayson {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
